* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: rgb(249, 228, 210);
  color: black;
}

.header {
  background: rgb(48, 3, 3);
  color: pink;
  padding: 14px 18px;
  display: flex;
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  align-items: center;
  justify-content: space-between;
}

.brand {
  font-weight: bold;
  font-size: 45px;
  font-style: italic;
  color: snow;
 
}

.topnav {
  display: flex;
  align-items: center;
  gap: 12px;
}

.topnav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: 600;
  padding: 8px 12px;
  border-radius: 8px;
}

.topnav a:hover {
  background: rgb(249, 236, 216);
  color: rgb(40, 40, 40);
}

.container {
  width: 100%;
  margin: 20px auto;
  padding: 0 16px;
}

.search-row {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.input {
  flex: 1;
  padding: 12px 14px;
  border-radius: 10px;
  border: 1px solid rgb(210, 210, 210);
  background: rgb(255, 255, 255);
}

.btn {
  background: rgb(32, 31, 31);
  color: white;
  border: none;
  padding: 12px 16px;
  border-radius: 10px;
  font-weight: 700;
  cursor: pointer;
}


.cats {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 12px;
}

.cat {
  background: rgb(255, 255, 255);
  padding: 12px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 3px 10px rgb(0,0,0);

}

.cat img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 8px;
}
.right img{
  height: 350px;
  width: 800px;
  object-fit: cover;
}
.sidebar {
  background: white;
  padding: 14px;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgb(0,0,0);
}

.filter-item {
  padding: 9px 10px;
  margin-bottom: 10px;
  border: 1px solid rgb(210, 210, 210);
  background: rgb(255, 255, 255);
  border-radius: 10px;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
}

.product {
  background: white;
  padding: 12px;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgb(0,0,0);
}

.product img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-radius: 8px;
}

.price {
  font-weight: 800;
  color: rgb(40, 40, 40);
  margin-bottom: 8px;
}

.add-btn {
  background: rgb(35, 34, 34);
  color: white;
  border: none;
  padding: 8px 10px;
  border-radius: 8px;
  cursor: pointer;
}

.qty {
  background: rgb(201, 198, 198);
  padding: 6px 10px;
  border-radius: 8px;
  color: rgb(60, 60, 60);
  font-weight: 700;
}

.cart-box {
  background: white;
  padding: 14px;
  border-radius: 12px;
  box-shadow: 0 3px 10px black;
  position: relative;

}

.cart-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px dashed gray;
}

.form {
  max-width: 460px;
  margin: 24px auto;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 3px 10px black;
  ;
}

.form input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 10px;
  border: 1px solid rgb(90, 83, 83);
}

.footer {
  text-align: center;
  padding: 18px;
  color:rgb(120, 120, 120);
  margin-top: 24px;
}

@media(max-width: 980px) {
  .layout {
    grid-template-columns: 1fr;
  }
}